body {
  background-color: white;
}

.text {
  position: relative;
  padding: 5%;
}
.text .title {
  position: absolute;
  top: 30px;
  left: 150px;
  height: 100%;
  width: 40%;
  font-size: 68px;
  font-weight: 700;
}
.text .describe {
  position: absolute;
  height: 100%;
  right: 8%;
  left: 52%;
  font-size: 26px;
  height: 40px;
  color: rgb(173, 168, 168);
}

.ad {
  background-color: black;
  color: white;
  margin: 150px;
  width: 525px;
  height: 458px;
  border-radius: 36px;
}
.ad .ourprj {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ad .ourprj .plus {
  position: absolute;
  color: white;
  font-size: 110px;
  top: -90px;
  left: 45px;
}
.ad .ourprj .plus span {
  position: absolute;
  color: #99EA48;
  bottom: 112px;
  left: 180px;
  font-weight: 900;
}
.ad .ourprj .ourprj_text {
  position: absolute;
  font-size: 28px;
  color: gray;
  width: 500px;
  top: 140px;
  left: 44px;
}
.ad .ourprj .circle_contain {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 300px;
  left: 40px;
}
.ad .ourprj .circle_contain .circle {
  background-color: gray;
  border-radius: 100px;
  height: 90px;
  width: 90px;
  margin: 3px;
}
.ad .ourprj .circle_contain .plus2 {
  position: absolute;
  color: white;
  font-size: 110px;
  font-weight: 700;
  bottom: -13px;
  right: -70px;
}

.hww {
  position: absolute;
  background-color: gray;
  height: 458px;
  width: 1000px;
  left: 730px;
  border-radius: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hww p {
  font-size: 50px;
  color: white;
}
.hww .arrowbtn {
  position: absolute;
  background-color: #99EA48;
  border: 20px solid white;
  border-radius: 100px;
  height: 140px;
  width: 140px;
  bottom: -25px;
  right: -30px;
}
.hww .arrowbtn span {
  position: absolute;
  color: black;
  font-size: 180px;
  top: -16px;
  right: -25px;
}