  .header {
    display: flex;
    text-align: center;
    padding: 30px 80px 30px 80px;
    z-index: 1;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .logo {
    position: relative;
    width: 40px;
    height: 40px;
    gap: 0px;
    border-radius: 3px 3px 53px 3px;
    opacity: 0px;
  }

  .rectangle1,
  .rectangle2 {
    position: absolute;
    width: 40px;
    height: 40px;
    gap: 0px;
    border-radius: 3px 3px 53px 3px;
    opacity: 0px;
    background: $primary-color;
  }

  .rectangle3 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 11.5px;
    left: 11px;
    gap: 0px;
    border-radius: 3px 3px 53px 3px;
    opacity: 0px;
    background: $secondary-color;
  }

  .mac {
    position: absolute;
    font-family: Manrope;
    font-size: 25px;
    font-weight: 700;
    line-height: 32.78px;
    letter-spacing: -0.05em;
    text-align: left;
    left: 41px;
    top: 3px;
  }

  .menu_bar {
    position: relative;
    display: inline-flex;
    width: 800px;
    height: auto;
    gap: 30px;
    opacity: 0px;
  }

  .menu-item {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    width: auto;
    opacity: 0px;
    margin-top: 5px;
  }

  .vector {
    padding-top: 13px;
    padding-left: 5px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  
    .dropbtn {
      background-color: white;
      border: none;
      p {
        font-size: 16px;
      }
    }
  
    .dropdown-content {
      display: none;
      position: absolute;
      margin-left: 5px;
      background-color: white;
      z-index: 1;
      flex-direction:column;
  
      a {
        color: $secondary-color;
        text-decoration: none;
  
        &:hover {
          background-color: $primary-color;
        }
      }
    }
  
    &:hover .dropdown-content {
      display: block;
    }
  }
  
  .r-nav {
    position: absolute;
    margin-top: 10px;
    right: 5%;
    display: inline-flex;
    width: 215px;
    height: 50px;
    gap: 9px;
    opacity: 0px;

  }

  button.st {
    width: 156px;
    height: 45px;
    padding: 13px 16px 13px 16px;
    gap: 32px;
    border-radius: 30px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    font-size: 16px;
    background-color: white;
    transition: background-color 0.5s;
  }
  
  button.st:hover {
    background-color: $primary-color; 
  }
  
  .bell {
    position: relative;
    width: 15px;
    height: 20px;
    padding: 13px 16px 13px 16px;
    gap: 32px;
    border-radius: 50px;
    opacity: 0px;
    background-color: $secondary-color;
    transition: background-color 0.5s;
    .bell-icon{
      position: absolute;
      left: 12px;
      span {
        color: white;
      }
    }
  }
  .bell:hover {
    background-color: $primary-color;
    .bell-icon span{
      color: $secondary-color;
    }
  }


